main{
    display:block;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(234, 141, 212, 0.739);
}

ul {
    max-width: 800px;
    margin: auto;
    text-align: left;
    line-height: 1.6;
}

img {
    display: block;
    margin: auto;
}

#img{
    max-width: 80%;
}

