@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
*{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
    /* 確保在每個瀏覽器是一樣的樣式 */
}
body {
    font-family: 'Noto sans TC', sans-serif;
      line-height: 1.5;
  }
  ol, ul {
      list-style: none;
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  } 
  /* 使padding跟 border在總寬度和高度內 */
  a {
    color: #000;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  /* RWD選單 */
  @media screen and (min-width: 768px) {
    .list-container {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .list-container {
      max-width: 1100px;
      margin: 0 auto;
    }
  }
  /* flex */
  .d-flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .justify-center {
    justify-content: center;
  }
  /* 媒體查詢*/
  #menu-control {
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }
  
  #menu-control:checked ~ .navbar {
    left: 0;
  }
  
  .menu-btn {
    background-color: #000;
    border: none;
    cursor: pointer;
    display: block;
    padding: 1rem;
  }
  
  .menu-btn::before {
    content: '';
    border-bottom: 3px solid #aaa;
    top: 30px;
    right: 46px;
    width: 36px;
    position: absolute;
    box-shadow: 0px 1rem 0 #aaa,
    0px 2rem 0 #aaa;
  }
  
  .menu-btn span {
    visibility: hidden;
  }
  
  .header {
    background-color: #282923;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
  }
  
  .navbar {
    background-color:#282923;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 80%;
    height: 100vh;
    transition: left .3s;
  }
  
  .nav-link {
    color: #a6e22c;
    display: block;
    border-bottom: 1px solid #a6e22c;
    padding: 1rem 0 1rem 1rem;
    opacity: 0.7;
  }
  
  .nav-link:hover {
    background-color: #a6e200;
    color: #000;
    opacity: 1;
  }
  
  @media screen and (min-width: 768px) {
    .menu-btn {
      display: none;
    }
  
    .navbar {
      display: flex;
      position: static;
      width: auto;
      height: auto;
    }
  
    .nav-link {
      border: none;
      padding: 1rem;
    }
  }
  
  .banner img {
    width: 100%;
  }
  
  .about__header {
    background-color: #aaa;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
  }
  
  .about__header-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .card {
    margin: 0 1rem 1.5rem;
  }
  
  .card-img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  /* 螢幕大於768px動作*/
  @media screen and (min-width: 768px) {
    .card {
      max-width: 300px;
    }
    .media {
        display: flex;
      }
      .media-img {
        margin-right: 2rem;
      }
  }
  
  .intro {
    background-color: #aaa;
  }
  
  .media {
    margin: 0 2rem;
    padding: 1rem 0;
  }
  
  .media-img {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .media-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  
  .service {
    background-color: #ffa;
  }
  
  .service__header {
    text-align: center;
    padding: 2rem 0;
  }
  
  .service__header-title {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    /* 可使圖片對齊 */
    padding: 1rem 0;
  }
